@import url(./ghost.css);

header {
  width: 100%;
  height: 16%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

#logo_profession {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

#logo {
  width: 11%;
  height: 60%;
  border-radius: 80%;
}

#profession {
  font-size: 2vw;

  margin: 0 5%;
}

.btn2 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
  font-size: 2vh;
  transition: 0.3s;
  background-color:white;
}



/* From Uiverse.io by doniaskima */ 
.btn_53,
.btn_53 *,
.btn_53 :after,
.btn_53 :before,
.btn_53:after,
.btn_53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn_53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn_53:disabled {
  cursor: default;
}

.btn_53:-moz-focusring {
  outline: auto;
}

.btn_53 svg {
  display: inline-block;
  vertical-align: middle;
}

.btn_53 [hidden] {
  display: none;
}

.btn_53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn_53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn_53:hover .original {
  transform: translateY(100%);
}

.btn_53 .letters {
  display: inline-flex;
}

.btn_53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn_53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn_53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn_53:hover span:nth-child(2) {
  transition-delay: 0.3s;
}

.btn_53:hover span:nth-child(3) {
  transition-delay: 0.6s;
}

.btn_53:hover span:nth-child(4) {
  transition-delay: 0.8s;
}

.btn_53:hover span:nth-child(5) {
  transition-delay: 0.10s;
}

.btn_53:hover span:nth-child(6) {
  transition-delay: 0.12s;
}



 

@media (max-width){

}
