<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ktsu</title>
        <link rel="stylesheet" href="./../css/index.css">

        <!--API Font Aweson-->
        <script src="https://kit.fontawesome.com/8facf198d8.js"
            crossorigin="anonymous"></script>

        <script type="module" src="./../../controller/index.js"></script>
        <script type="module" src="./../../controller/ghost/ghost.js"></script>
        <script type="module" src="./../../controller/ghost/ghost_shadow.js"></script>
        <script type="module" src="./../js/text_header.js"></script>

    </head>
    <body>
        <header id="header" class="start">

        </header>

        <main>
            <div id="img_p">
                <div id="img_s"></div>
            </div>
            <div class="main_text">
                <h1 id="name" class="text_effect">Gabriel</h1>
                <h2 id="last_name" class="text_effect">Wagner</h2>
                <p class="text_info">
                    Sou um estudante apaixonado por programação e design,
                    sempre
                    buscando aprender novas tecnologias e ferramentas.<br>
                    Tenho experiência em desenvolvimento front-end, com foco
                    em
                    criar
                    interfaces intuitivas e responsivas. Minha abordagem é
                    sempre centrada no usuário, visando uma experiência
                    única e
                    eficiente.<br>
                    Gosto de trabalhar em projetos desafiadores que
                    me permitam crescer tanto profissionalmente quanto
                    pessoalmente.<br>
                    Com um olhar atento aos detalhes, busco
                    entregar soluções criativas e funcionais. Estou
                    empolgado
                    para fazer parte de novos projetos e contribuir com meu
                    conhecimento.
                </p>
            </div>
        </main>

        <footer id="footer">
            <div id="btns_footer">
                <button class="btn_footer" id="btnGithub">
                    <i class="icon fa-brands fa-github iconone"></i>
                </button>
                <button class="btn_footer" id="btnWhatsapp">
                    <i class="icon fa-brands fa-whatsapp icontwo"></i>
                </button>
                <button class="btn_footer" id="btnInstagram">
                    <i
                        class="icon fa-brands fa-instagram icontheer animate-drop"></i>
                </button>
            </div>
        </footer>

    </body>
</html>