<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ktsu</title>
        <link rel="stylesheet" href="./../css/projects.css">

        <!--API Font Aweson-->
        <script src="https://kit.fontawesome.com/8facf198d8.js"
            crossorigin="anonymous"></script>

        <script type = "module" src="./../../controller/projects.js"></script>
        <script type = "module" src="./../../controller/ghost/ghost.js"></script>
        <script type = "module" src="./../../controller/ghost/ghost_shadow.js"></script>
        <script type = "module" src="./../js/text_header.js"></script>
        
    </head>
    <body>
       <header id="header" class="start"></header>
       <nav id="nav_banner">
            <div id="banners">
                <div class="banner banner1"></div>
                <div class="banner banner2"></div>
                <div class="banner banner3"></div>
                <div class="banner banner4"></div>
                <div class="banner banner5"></div>
                <div class="banner banner6"></div>
            </div>
            <div id="btn_banners">
                <button id="btn_banner_1" class="btn_banner" onclick="switchBanner(1)"></button>
                <button id="btn_banner_2" class="btn_banner" onclick="switchBanner(2)"></button>
                <button id="btn_banner_3" class="btn_banner" onclick="switchBanner(3)"></button>
                <button id="btn_banner_4" class="btn_banner" onclick="switchBanner(4)"></button>
                <button id="btn_banner_5" class="btn_banner" onclick="switchBanner(5)"></button>
                <button id="btn_banner_6" class="btn_banner" onclick="switchBanner(5)"></button>
            </div>
        </nav>
       <main>
            <section id="cards"></section>
       </main> 
        
    </body>
</html>



<!-- onclick="window.location.href = './index.html'" -->