.c_t_p{
  margin: 5vh 0 0 0;
}
.text_projects{
  color: var(--white);
  font-size: 8vh;
  animation: letras 120s ease-in-out infinite;
}
.text_projects:hover{
  transform: scale(1.2);
}
@keyframes letras{
  0%, 47%, 60%, 100%{
    color: var(--white);
  }
  50%, 57%{
    color: var(--white_shadow);
  }
}